<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lam Xong r chup</title>
</head>

<body>
    <div>
        <form action="/addsanpham" method="POSt">
            <p>STT
                <input type="text" name="firstname">
            </p>
            <p>ten
                <input type="text" name="lastname">
            </p>
            <p>gia
                <input type="text" name="gioitinh">
            </p>
            <p>hang
                Nam: <input type="radio" name="namsinh" value="Nam">
                Nu: <input type="radio" name="namsinh" value="Nu">
            </p>
            <p>chitiet
                OK:<input type="checkbox" name="diachi" value="ok">
                OKla:<input type="checkbox" name="diachi" value="okla">
                okthoi:<input type="checkbox" name="diachi" value="okthoi">
                koOK:<input type="checkbox" name="diachi" value="ko ok">
                Xiuok:<input type="checkbox" name="diachi" value="xiuok">
            </p>
            <input type="submit" value="Them">
        </form>
    </div>
</body>

</html>